@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Barlow Regular';
  src: url('./assets/fonts/Barlow-Regular.ttf');
}

@font-face {
  font-family: 'Barlow Condensed Bold';
  src: url('./assets/fonts/BarlowCondensed-Bold.ttf');
}

@font-face {
  font-family: 'Barlow Condensed Regular';
  src: url('./assets/fonts/BarlowCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Bellefair Regular';
  src: url('./assets/fonts/Bellefair-Regular.ttf');
}

* {
  font-family: 'Barlow Regular';
}